.modal {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all;
    overflow-y: auto;
    z-index: 100;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    width: 70vw;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto;
    transform: scale(0.5);
    transition: 0.1s all;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.modal-content.active {
    transform: scale(1);
}
